body {
    background: #fcfcfc;
    font-family: "Istok Web", sans-serif;
}
h1,h2, h3,h4,h5,h6 {
    font-family: "RocknRoll One", sans-serif !important;
}
ul li{
    list-style-type: none;
}

ul li a{
    text-decoration: none;
    color: black;
}
body, html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;  
}
p{
    color: grey;
}
Link{
    text-decoration: none !important;
}
Link:hover{
    color: crimson;
}