.logo{
    width: 2.8em;
}
.span2{
    font-size: 12px;
    background-color: crimson;
    border-radius: 50%;
    padding: 0px 5px;
    position: absolute;
    margin-top: -0.3em;
}
.List_Link:hover{
    color: crimson;
}
nav{
    box-shadow: 1px 2px 3px rgba(165, 14, 14, 0.149);
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px;
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: #fcfcfc;
    align-items: center;
}
nav .logoDiv{
    flex-grow: 2;
}
.nav_links{
    display: flex;
    flex-direction: row;
    gap:8em;
    flex-grow: 6;
    justify-content: space-evenly;
    
}
.nav_links ul{
    display: flex;
    flex-direction: row;
    gap: 2em;
}
.toggle{
    display: none;
}

@media screen and (max-width:770px) {
    nav{
        background-color: #fcfcfc;
        padding: 5px;
        height: 80px;
    }
    .logoDiv{
        position: absolute;
        top: 10px;
        left: 35px;
        padding-bottom: 10px;
    }
    .nav_links{
        display: none;
    }
    .mobile_links{
        padding: 20px;
        position: absolute;
        display: flex;
        flex-direction: column;
        background-color: #fcfcfc;
        left: 0;
        top: 80px;
        transition: all 0.6s ease-out;
        width: 100%;
    }
    .mobile_links ul{
        display: flex;
        font-size: 18px;
        justify-content: center;
        gap: 30px;
    }
    .toggle{
        display: block;
        position: absolute;
        top: 15px;
        right: 25px;
    }
}